<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>Ecommerce</title>
</head>

<body>
    <div class="gridContainer">
        <header>
            <div>
                <a class="brand" href="index.html">AnuragShop</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sigin</a>
            </div>
        </header>
        <main>
            <div class="gridProducts">
                <div class="gridCards">
                    <div class="gridCard">
                        <img src="audiologist.svg" />
                        <div class="cardBody">
                            <h4>Product Name</h4>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i>
                                    <span> <i class="fa fa-star"></i>
                                        <span> <i class="fa fa-star"></i>
                                            <span> <i class="fa fa-star"></i>
                                            </span>
                            </div>
                            <div class="price">
                                <h6>product price:500rs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="gridCard">
                        <img src="audiologist.svg" />
                        <div class="cardBody">
                            <h4>Product Name</h4>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i>
                                    <span> <i class="fa fa-star"></i>
                                        <span> <i class="fa fa-star"></i>
                                            <span> <i class="fa fa-star"></i>
                                            </span>
                            </div>
                            <div class="price">
                                <h6>product price:500rs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="gridCard">
                        <img src="audiologist.svg" />
                        <div class="cardBody">
                            <h4>Product Name</h4>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i>
                                    <span> <i class="fa fa-star"></i>
                                        <span> <i class="fa fa-star"></i>
                                            <span> <i class="fa fa-star"></i>
                                            </span>
                            </div>
                            <div class="price">
                                <h6>product price:500rs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="gridCard">
                        <img src="audiologist.svg" />
                        <div class="cardBody">
                            <h4>Product Name</h4>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i>
                                    <span> <i class="fa fa-star"></i>
                                        <span> <i class="fa fa-star"></i>
                                            <span> <i class="fa fa-star"></i>
                                            </span>
                            </div>
                            <div class="price">
                                <h6>product price:500rs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="gridCard">
                        <img src="audiologist.svg" />
                        <div class="cardBody">
                            <h4>Product Name</h4>
                            <div class="rating">
                                <span> <i class="fa fa-star"></i>
                                    <span> <i class="fa fa-star"></i>
                                        <span> <i class="fa fa-star"></i>
                                            <span> <i class="fa fa-star"></i>
                                            </span>
                            </div>
                            <div class="price">
                                <h6>product price:500rs</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="row center">
            <h3>ALL rights reserved</h3>
        </footer>

    </div>
</body>

</html>