*{
box-sizing:border-box;
    margin:0px;
    padding:0px;
}
html{
    font-size:62.5%; 

}
body{
    height:100vh;
    font-size:1.6rem;
    font-family: 'Kaisei HarunoUmi', serif;
}
.gridContainer{
    display:grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height:100%;
}
header{
    grid-area: header;
    background:red;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
}
/* common  */
a,a:hover,a:active{
text-decoration:none;
color:#ffffff
}
header a{
    padding:1rem;
}
header .brand{
    font-weight:bold;
    font-size: 2rem;
}
.row{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
}
.row.center{
    justify-content: center;
}
main{
    grid-area:main;
    background:green;
    padding:1rem;
}
.gridCards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
}
.gridCard{
    border:3px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.gridCard img{
    height:100px;
    width:100px;
}
.cardBody{
    background:purple;
    width:100%;
    
}
.rating span{
    color:#f0c040;
    margin:0.1rem;
}
footer{
    grid-area:footer;
    background:yellow;
}